# Modelos entrenados
whisper_tiny_chileno_final/
whisper-tiny-chilean/
*.safetensors
*.pt
*.pth

# Python
__pycache__/
*.pyc
*.pyo
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Archivos de audio de prueba
#*.mp3
#*.wav
#*.m4a
temp_audio_input.*

# Logs
logs/
*.log


# Entornos virtuales
venv/
env/
.conda/